# ONNX Validation Report

### Corn Validation: PASSED
- Max Probability Deviation: `6.55651093e-07`
- PyTorch Top Class: `2`
- ONNX Top Class: `2`

### Cotton Validation: PASSED
- Max Probability Deviation: `2.49855220e-05`
- PyTorch Top Class: `3`
- ONNX Top Class: `3`

### Maize Validation: PASSED
- Max Probability Deviation: `0.00000000e+00`
- PyTorch Top Class: `0`
- ONNX Top Class: `0`

### Potato Validation: PASSED
- Max Probability Deviation: `8.94069672e-07`
- PyTorch Top Class: `1`
- ONNX Top Class: `1`

### Rice Validation: PASSED
- Max Probability Deviation: `0.00000000e+00`
- PyTorch Top Class: `2`
- ONNX Top Class: `2`

### Tomato Validation: PASSED
- Max Probability Deviation: `4.76837158e-07`
- PyTorch Top Class: `9`
- ONNX Top Class: `9`

### Wheat Validation: PASSED
- Max Probability Deviation: `0.00000000e+00`
- PyTorch Top Class: `6`
- ONNX Top Class: `6`
